<template>
  <v-container>
    <v-layout row v-if="authState.error">
      <v-flex xs12 sm6 offset-sm3>
        <Alert @dismissed="onDismissed" :text="authState.error"></Alert>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-card-text>
            <v-container>
              <form @submit.prevent="onSignup">
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      name="email"
                      label="Mail"
                      id="email"
                      v-model="email"
                      type="email"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      name="password"
                      label="Password"
                      id="password"
                      v-model="password"
                      type="password"
                      required>
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field
                      name="confirmPass"
                      label="Confirm Password"
                      id="confirmPass"
                      v-model="confirmPass"
                      type="password"
                      :rules="[comparePassword]">
                    </v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout row>
                  <v-flex xs12>
                    <v-btn 
                      type="submit"
                      :loading="authState.loading"
                      :disabled="authState.loading">
                      Sing Up
                      <span slot="loader" class="custom-loader">
                        <v-icon light>cached</v-icon>
                      </span>
                    </v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-container>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      confirmPass: ''
    }
  },
  computed: {
    comparePassword () {
      return this.password !== this.confirmPass && this.confirmPass !== '' ? 'Password do no match' : ''
    },
    user () {
      return this.$store.getters.user
    },
    authState () {
      return this.$store.getters.authState
    }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/')
      }
    }
  },
  methods: {
    onSignup () {
      // use Vuex
      this.$store.dispatch('signUserUp', {
        email: this.email,
        password: this.password
      })
    },
    onDismissed () {
      this.$store.dispatch('clearAuthState')
    }
  }
}
</script>
