<template>
      <v-container>
        <v-layout row wrap class="mb-2">
          <v-flex xs12 sm6 text-sm-right text-xs-center>
            <v-btn large router to="/meetups" color="info">Explore Meetups</v-btn>
          </v-flex>
          <v-flex xs12 sm6 text-sm-left text-xs-center>
            <v-btn large router to="/meetup/new" color="info">Oraganize Meetups</v-btn>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs12 class="text-xs-center" v-if="authState.loading">
            <v-progress-circular 
              indeterminate 
              color="primary"
              :width="7"
              :size="70"></v-progress-circular>
          </v-flex>
        </v-layout>
        <v-layout row nowrap class="mt-2" v-if="!authState.loading">
          <v-flex xs12>
            <v-carousel>
              <v-carousel-item
                style="cursor:pointer;"
                v-for="meetup in meetups"
                v-bind:src="meetup.imageUrl"
                @click="onLoadMeetup(meetup.id)"
                :key="meetup.id">
                  <div class="title">
                    {{ meetup.title }}
                  </div>
                </v-carousel-item>
            </v-carousel>
          </v-flex>
        </v-layout>
        <v-layout row wrap class="mt-2">
          <v-flex xs12 text-xs-center>
            <p>Join our awesome meetups!</p>
          </v-flex>
        </v-layout>
      </v-container>
</template>

<script>
  export default {
    computed: {
      meetups () {
        return this.$store.getters.featuredMeetups
      },
      authState () {
        return this.$store.getters.authState
      }
    },
    methods: {
      onLoadMeetup (id) {
        this.$router.push('/meetups/' + id)
      }
    }
  }
</script>

<style scoped>
.title {
  position: absolute;
  bottom: 50px;
  background-color: rgba(0,0,0,0.5);
  color: #ccc;
  font-size: 2em;
  padding: 20px;
}
</style>
