<template>
<v-dialog max-width="350px" persistent v-model="editDialog">
      <v-btn accent slot="activator">
          Edit Time
      </v-btn>
      <v-card>
          <v-container>
              <v-layout row wrap>
                <v-flex xs12 sm6 offset-sm3>
                    <v-card-title>Edit Meetup Time</v-card-title>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-text>
                    <v-time-picker 
                      v-model="editedTime"
                      actions
                      format="24hr">
                      <template slot-scope="{save, cancel}">
                        <v-btn class="blue--text darken-1" flat
                          @click="editDialog = false">
                          Close
                        </v-btn>
                        <v-btn class="blue--text darken-1" flat
                          @click="onSave">
                          Save
                        </v-btn>
                      </template>
                    </v-time-picker>
                  </v-card-text>
                </v-flex>
              </v-layout>
          </v-container>
          {{ editedTime }}
      </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ['meetup'],
  data () {
    return {
      editDialog: false,
      editedTime: null
    }
  },
  methods: {
    onSave () {
      const newDate = new Date(this.meetup.date)
      const hours = this.editedTime.match(/^(\d+)/)[1]
      const minutes = this.editedTime.match(/:(\d+)/)[1]
      newDate.setHours(hours)
      newDate.setMinutes(minutes)
      console.log(newDate.toUTCString())
      this.$store.dispatch('updateMeetup', {
        id: this.meetup.id,
        date: newDate
      })
    }
  },
  created () {
    this.editedTime = new Date(this.meetup.date).toTimeString()
  }
}
</script>

