<template>
<v-dialog max-width="350px" persistent v-model="editDialog">
      <v-btn accent slot="activator">
          Edit Date
      </v-btn>
      <v-card>
          <v-container>
              <v-layout row wrap>
                <v-flex xs12 sm6 offset-sm3>
                    <v-card-title>Edit Meetup Date</v-card-title>
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-text>
                    <v-date-picker 
                      v-model="editedDate"
                      actions>
                      <template slot-scope="{save, cancel}">
                        <v-btn class="blue--text darken-1" flat
                          @click="editDialog = false">
                          Close
                        </v-btn>
                        <v-btn class="blue--text darken-1" flat
                          @click="onSave">
                          Save
                        </v-btn>
                      </template>
                    </v-date-picker>
                  </v-card-text>
                </v-flex>
              </v-layout>
          </v-container>
      </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ['meetup'],
  data () {
    return {
      editDialog: false,
      editedDate: null
    }
  },
  methods: {
    onSave () {
      const newDate = new Date(this.meetup.date)
      const newDay = new Date(this.editedDate).getUTCDate()
      const newMonth = new Date(this.editedDate).getUTCMonth()
      const newYear = new Date(this.editedDate).getUTCFullYear()
      newDate.setUTCDate(newDay)
      newDate.setUTCMonth(newMonth)
      newDate.setUTCFullYear(newYear)
      this.$store.dispatch('updateMeetup', {
        id: this.meetup.id,
        date: newDate
      })
    }
  },
  created () {
    this.editedDate = new Date(this.meetup.date)
  }
}
</script>

