<template>
  <v-container>
    <v-layout row wrap v-if="authState.loading">
      <v-flex xs12 class="text-xs-center">
        <v-progress-circular 
          indeterminate 
          color="primary"
          :width="7"
          :size="70"></v-progress-circular>
      </v-flex>
    </v-layout>
    <v-layout row wrap v-else>
      <v-flex xs12>
        <v-card>
          <v-card-title>
            <h6 class="primary--text">{{ meetup.title }}</h6>
            <template v-if="userIsCreator">
              <v-spacer></v-spacer>
              <EditMeetupDialog :meetup="meetup"></EditMeetupDialog>
            </template>
          </v-card-title>
          <v-card-media :src="meetup.imageUrl" height="400px">

          </v-card-media>
          <v-card-text>
            <div class="info--text">{{ meetup.date | date }} - {{ meetup.location}}</div>
            <div v-if="userIsCreator">
              <EditMeetupDateDialog :meetup="meetup">
              </EditMeetupDateDialog>
              <EditMeetupTimeDialog :meetup="meetup">
              </EditMeetupTimeDialog>
            </div>
            <div>
              {{ meetup.description }}
            </div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <RegisterDialog :meetupId="meetup.id"
              v-if="userIsAuthenticated && !userIsCreator"></RegisterDialog>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  props: ['id'],
  computed: {
    meetup () {
      return this.$store.getters.loadedMeetup(this.id)
    },
    userIsAuthenticated () {
      return this.$store.getters.user !== null && this.$store.getters.user !== undefined
    },
    userIsCreator () {
      if (!this.userIsAuthenticated) {
        return false
      }
      return this.$store.getters.user.id === this.meetup.creatorId
    },
    authState () {
      return this.$store.getters.authState
    }
  }
}
</script>
